:root {
    font-family: "Lucidia Console", monospace;
    font-size: 16px;
}

body, body * {
    margin: unset;
    box-sizing: unset;
    padding: unset;
    font-size: 16px;
    color: #839496;
    text-decoration: unset;
}